body, html {
    margin: 0;
    background-color: #F2D4A8;
    font-family: Verdana, sans-serif;
}
h1 {
    font-family: 'Rye', cursive;
    font-size: 36px;
    font-weight: bold;
    color: #444;
}
.socials {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.socials a {
    margin-left: 3px;
    margin-right: 3px;
}
.tel {
    color: white;
    text-decoration: none;
}